* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./image/kosmos.jpeg) no-repeat;
    background-size: cover;
}

a {
    margin-top: 10px;
    display: inline-block;
    height: 56px;
    background: #086CF9;
    border-radius: 4px;
    line-height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: #fff;
}

